!! Appearance
urxvt.scrollBar: false
urxvt.background: #282a36
urxvt.foreground: #f8f8f2
URxvt.internalBorder:  20

!! Font prefferenes
URxvt.font: xft:Hack:pixelsize=11
URxvt.boldFont: xft:Hack:pixelsize=11:Bold
urxvt.letterSpace: -1

!! Perl extensions
urxvt.perl-ext-common: ibeamcursor

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
